menuconfig AZ1UBALL
  bool "Palette-System AZ1UBALL Trackball Support"
  select ZMK_POINTING
  select I2C
  help
    Enable driver for Palette-System AZ1UBALL Trackball.

if AZ1UBALL
  config AZ1UBALL_AUTOMOUSE_TIMEOUT_MS
    int "Amount of milliseconds the mouse layer will be active after using the trackball"
    default 400

  module = AZ1UBALL
  module-str = AZ1UBALL
  source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif #AZ1UBALL